﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ArchitectUI HTML Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="../assets/css/base.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        input[type="checkbox"] {
            display: inline-block;
            width: 30px;
            height: 30px;
            border: 2px solid #bcbcbc;
            cursor: pointer;
        }
    </style>
    
</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
        <!--Header START-->
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-right">
                    <button class="btn-wide mb-2 mr-2 btn-icon btn btn-shadow-info btn-lg" onclick="location.href='@Url.Action("loginOut", "Home")'"><i class="pe-7s-power btn-icon-wrapper"> </i>로그아웃</button>
                </div>
            </div>
        </div>
        <!--Header END-->

        <div class="app-main">
            <div class="app-sidebar sidebar-shadow">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">관리</li>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-key"></i>
                                    시리얼 키
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul>
                                    <li>
                                        <a href="personalSerial">
                                            <i class="metismenu-icon">
                                            </i>개인 사용자
                                        </a>
                                    </li>
                                    <li>
                                        <a href="companiesSerial">
                                            <i class="metismenu-icon">
                                            </i>기업 사용자
                                        </a>
                                    </li>
                                    <li>
                                        <a href="createSerial">
                                            <i class="metismenu-icon">
                                            </i>시리얼 키 발급
                                        </a>
                                    </li>
                                    <li>
                                        <a href="checkSerial">
                                            <i class="metismenu-icon">
                                            </i>시리얼 키 확인
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-medal pe-7s-key"></i>
                                </div>
                                <div>
                                    시리얼 키 발급
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-11">
                                <h4>
                                    <div>시리얼 키 </div>
                                    <span>다수의 시리얼 키를 발급하려면 <span class="text-success">줄추가</span>을 눌러주세요</span>
                                </h4>
                                <div>


                                    <form class="" action="/Home/Create" method="post" enctype="multipart/form-data">
                                        <table class="table" id="createSerial">
                                            <thead>
                                                <tr>
                                                    <th>구매자 정보</th>
                                                    <th>구매 유형</th>
                                                    <th>구매자 소속</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="mountable-model">
                                                    <td><input type="text" name="userinfo[]" maxlength="11" oninput="maxLengthCheck(this);" class="form-control" value="01012345678"></td>
                                                    <td nowrap="nowrap" style="vertical-align: middle;">
                                                        <select name="purchase[]" class="form-control">
                                                            <option value="buy">신규</option>
                                                            <option value="device">기기변경</option>
                                                            <option value="lose">분실</option>
                                                            <option value="etc">기타</option>
                                                        </select>
                                                        <!--<input type="checkbox" id="free" name="free[]" >-->
                                                    </td>
                                                    <td nowrap="nowrap" style="vertical-align: middle;">
                                                        <select name="buyer[]" class="form-control">
                                                            <option value="individual">개인</option>
                                                            <option value="company">기업</option>
                                                            <option value="special">특수목적</option>
                                                        </select>
                                                        <!--<input type="checkbox" id="company" name="company[]">-->
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="3"><button type="button" class="btn btn-default" id="button2"><span class="text-success">줄 추가</span></button></td>
                                                </tr>
                                            </tfoot>
                                        </table>

                                        <!--
            <div class="mt-3 position-relative login100-form-btn">
                <input type="button" value="AddButton" class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg" name="AddButton" id="AddButton" onclick="add">
            </div>
                -->
                                        <div class="mt-4 d-flex align-items-center">
                                            <div class="ml-auto">
                                                <input type="submit" value="Create Serial Code" class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    @Scripts.Render("/Scripts/mountable.js")
    @Scripts.Render("/Scripts/login.js")
    <script type="text/javascript">
        var jsonContentSimple =
            [
                {
                    "userinfo": "",
                    "purchase": "",
                    "buyer": ""
                }
            ];

        $('#createSerial').mounTable(jsonContentSimple,
            {
                /* The model class */
                model: '.mountable-model',

                /* No console messages */
                noDebug: true,

                /* Options to your new line button */
                addLine:
                {
                    /* New line button selector */
                    button: "#button2",

                    /* Callback function */
                    onClick: function () {
                        console.log('Line added!');
                    }
                },

                /* Options to your delete line button */
                deleteLine:
                {
                    /* Delete line button selector */
                    button: ".mountable-remove-line-2",

                    /* Callback function */
                    onClick: function () {
                        if (confirm("Are you sure?")) {
                            console.log('Line removed!');
                            return true;
                        }
                    }
                }
            });
    </script>
</body>
</html>
